.myButton {
  width: 52px;
  height: 52px;
  background: #e6f1fc;
  border-radius: 12px;
  border: none;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #0073e6;
  cursor: pointer;
  &:hover {
    background: linear-gradient(0deg, rgba(0, 115, 230, 0.1), rgba(0, 115, 230, 0.1)), #E6F1FC;
  }
  &:active {
    background: #0073E6;
    color: #fff;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 396px;
}
