// .cardActionArea:hover {
//   background-color: #fff;
//   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
// }

.links {
  text-decoration: none;
}

.links:active {
  text-decoration: none;
}

.cardWrapper {
  margin: 0
}