.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.menuItems {
  transform: translateX(-16px);
  width: 133px;
  display: flex;
  justify-content: space-between;
  // text-underline-offset: 25px;
  // text-decoration-thickness: 5px;
}

.logo {
  margin-left: 10px;
}

.links:link {
  color: black;
  text-decoration: none;
}

.links:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 25px;
}
.links:visited {
  // color: #0073E6;
  color: #172029;
  text-decoration: none;
}

.cart {
  margin-right: 10px;
  cursor: default;
  font-weight: 700;
  font-size: 16px;
  img {
    margin-right: 6px;
  }

  display: flex;
  // margin-right: 16px;
}

@media screen and (max-width: 500px) {
  .cart {
    span {
      display: none;
    }
  }
  .logo {
    display: none;
  }
  .shortLogo {
    margin-left: 10px;
  }
}

@media screen and (min-width: 501px) {
  .shortLogo {
    display: none;
  }
}
